@model LoginAccountModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="Login" method="post" role="form" class="form-horizontal">

    <h2>Login</h2>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserNameOrEmail" class="control-label"></label>
        <input asp-for="UserNameOrEmail" class="form-control" />
        <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger d-block"></span>
    </div>
    <label class="col-form-label">Don't have an account?!</label>
    <a asp-action="Register" class="btn btn-link ">Register</a>
    <button type="submit" class="btn btn-primary d-block">Login</button>
</form>